.headerSite{
    margin: -1%;
    margin-left: 14.7%;
    width: 60.6%;
    height: 50%;
    padding: 3.4% 5%;
    background-color: #9DEC6B;
    border-top: none;
    border-bottom: 3px solid blue;
}
.logo{
    width: 10%; 
    height: 15%; 
    float: left;
    position: absolute;
    top: 0%;
    left: 15%;
}

a{
    text-shadow: 2px 1px 30px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    float: left;
    font-family: sans-serif;
    transition: 0.5s;
}
a:hover{
    color: white;
    font-size: 100%;
    transition: 0.5s;
    text-shadow: 0px 20px 30px;
}
.inicio{
    position: absolute;
    top: 5.5%;
    left: 60%;
}
.adote{
    position: absolute;
    top: 5.5%;
    left: 65%;
}
.doe{
    position: absolute;
    top: 5.5%;
    left: 70.5%;
}
.ongs{
    position: absolute;
    top: 5.5%;
    left: 74.5%;
}
.login{
    position: absolute;
    top: 5.5%;
    left: 79.5%;
}

body{
    background-color: rgb(247, 247, 168);
}

.containerPrincipal{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 85%;
    background-color: lightyellow;
}

.containerUltimosAnimais{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 50%;
    height: 97%;
    border: black solid 3px;
    background-color: lightyellow;
}
.containerAdote{
    position: absolute;
    top: 1%;
    left: 52%;
    width: 47%;
    height: 40%;
    border: black solid 3px;
    background-color: lightyellow;
}
.containerMSG{
    position: absolute;
    top: 42%;
    left: 52%;
    width: 47%;
    height: 20%;
    border: black solid 3px;
    background-color: lightyellow;
}
.containerSobre{
    position: absolute;
    top: 63%;
    left: 52%;
    width: 47%;
    height: 35%;
    border: black solid 3px;
    background-color: lightyellow;
}

.tituloContainer{
    position: relative;
    top: -7%;
    text-align: center;
    text-shadow: 2px 2px 40px;
    font-family: sans-serif;
}

.textoContainer{
    position: relative;
    top: -7%;
    text-align: justify;
    margin: 2%;
    font-family: Verdana;
}

.botaoAdote{
    position: relative;
    top: 3%;
    left: 4%;
    width: 90%;
    height: 90%;
    font-weight: bold;
    font-size: 250%;
    background-color: #aae785;
    border-radius: 6%;
    transition: 0.5s;
    box-shadow: 3px 2px #999;
}
.botaoAdote:hover{
    height: 92%;
    color: white;
    font-weight: bolder;
    font-size: 300%;
    background-color: #e9a488;
    transition: 0,5s;
}